<div class="row" ng-init="statistic()">
	<div class="col-lg-12">
		<h1 class="page-header">Aplicacao</h1>
	</div>
</div>

<!-- <div class="row" ui-view="stats"></div> -->

<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> Relatorios das Simulacoes
			</div>
			
			<div class="panel-body" ng-init="view()">
				<div class="list-group" ng-repeat="simulation in application.simulations">
					<a ng-click="" class="list-group-item link" >
						<i class="fa fa-calendar fa-fw"></i> {{simulation.simulationDate | date:'dd/MM/yyyy'}}
						<span class="pull-right text-muted small">{{simulation.simulationDate | date:'HH:mm'}} h</span>
					</a>
				</div>
			</div>
			
		</div>
	</div>
</div>