<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Aplicacao</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-clock-o fa-fw"></i>Cadastrar Aplicacao						
			</div>
							
			<div class="panel-body">
				<!-- form of Register -->
				<form ng-submit="add()" class="form">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="application.name" id="title-app" placeholder="Nome da Aplicacao" autofocus="autofocus" required/>
					</div>
						
					<div class="form-group">
						<input type="text" class="form-control" ng-model="application.url" id="url-app" placeholder="URL da Aplicacao" autofocus required/>
					</div>
						
					<div class="form-group">	
						<div class="checkbox pull-left">
							<label> <input type="checkbox" ng-model="application.hasTestUser"> Requires test user</label>
						</div>
					</div>
					
					<div ng-show="application.hasTestUser">
						<div class="form-group" >
							<input type="text" class="form-control" ng-model="application.loginUser" id="loginUser-app" placeholder="Usuario de Teste"/>
						</div>
						
						<div class="form-group" >
							<input type="password" class="form-control" ng-model="application.passwordUser" id="passwordUser-app" placeholder="Senha para Usuario de Teste"/>
						</div>
					</div>
					
					<div class="form-group col-md-12">
						<button type="submit" class="btn btn-lg btn-primary pull-right"> Cadastrar</button>
						<span class="text-danger">{{ error }}</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bell fa-fw"></i> Other Information
			</div>
            
			<div ui-view="second-information"></div> 
		</div>	
	</div>
</div>
	
<!-- <div class="row"> -->
<!-- 	<div class="col-lg-12"> -->
<!-- 		<div class="panel panel-default"> -->
<!-- 			<div class="panel-heading"> -->
<!-- 	        	Register Application -->
<!-- 			</div> .panel-heading -->
			
<!-- 			<div class="panel-body"> -->
<!-- 				<form ng-submit="add()" class="form"> -->
<!-- 					<input class="form-control" ng-model="application.name" id="title-app" placeholder="Application Name" autofocus> -->
<!-- 					<input class="form-control" ng-model="application.url" id="url-app" placeholder="Application Url"> -->
<!-- 					<div class="checkbox"> -->
<!-- 						<label> <input type="checkbox" ng-model="application.hasTestUser">Requires test user</label> -->
<!-- 					</div> -->
<!-- 					<input class="form-control" ng-model="application.loginUser" ng-show="application.hasTestUser" id="login-user" placeholder="Test user"> -->
<!-- 					<input class="form-control" type="password" ng-model="application.passwordUser" ng-show="application.hasTestUser" id="password-user" placeholder="Test user password"> -->
					
<!-- 					<button class="btn btn-primary btn-block" type="submit">Save</button> -->
					
<!-- <!-- 					<div class="form-control "> -->
<!-- <!-- 						<a ui-sref="todo" class="btn btn-primary pull-right">NEW TODO</a> --> 
<!-- <!-- 						<a ui-sref="list" class="btn btn-primary">TODOS</a> --> 
<!-- <!-- 					</div> --> 
<!-- 				</form> -->
<!-- 			</div> -->
<!-- <!-- 			{{application}} --> 
<!-- 		</div> .panel panel-default			 -->
<!-- 	</div> .col-lg-6 -->
<!-- </div> -->