<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Simulacao</h1>
	</div>
</div>

<div class="row" ng-init="getSimulation()">
	<div class="col-lg-6 col-md-12">
		<div>
			<form>
				<div class="form-group row">
					<label for="applicationName" class="col col-form-label"><i class="fa fa-laptop fa-fw"></i> Aplicacao:</label>
					<div class="col">
						<input type="text" readonly class="form-control-lg form-control-plaintext text-right font-weight-bold font-italic pull-right" id="applicationName" value="{{applicationName}}">
					</div>
				</div>
				
				<div class="form-group row">
					<label for="simulationDate" class="col col-form-label"><i class="fa fa-calendar fa-fw"></i> Data da Simulacao:</label>
					<div class="col">
						<input type="text" readonly class="form-control-lg form-control-plaintext text-right font-weight-bold font-italic pull-right" id="simulationDate" aria-describedby="timeSimulation" value="{{simulation.simulationDate | date:'dd/MM/yyyy'}}">
						<small id="timeSimulation" class="form-text text-muted pull-right">as {{simulation.simulationDate | date:'HH:mm'}} h</small>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="userName" class="col col-form-label"><i class="fa fa-user  fa-fw"></i> Simulacao Execultada por:</label>
					<div class="col">
						<input type="text" readonly class="form-control-lg form-control-plaintext text-right font-weight-bold font-italic pull-right" id="userName" aria-describedby="emailUser" value="{{simulation.user.name}}">
						<small id="emailUser" class="form-text text-muted pull-right">e-mail: {{simulation.user.email}}</small>
					</div>
				</div>
			</form>
		</div>
		
		<br />
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-table fa-fw"></i> Matriz de Confusao
			</div>
			
			<div class="panel-body" ng-init="matrizConfusion()">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th></th>
								<th class="table-active text-center">Valido (V)</th>
								<th class="table-active text-center">Falha (F)</th>
								<th class="table-active text-center">Possivel Falha (PF)</th>
							</tr>
						</thead>
					
						<tbody>
							<tr ng-repeat="row in simulation.report.confusionMatrixString">
								<td  class="text-center" ng-repeat="col in row track by $index" ng-class="{'table-active font-weight-bold' : $first}">{{ col }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<!-- INFORMAÇÕES DA SIMULAÇÃO (DADOS ATOMICOS) -->
	<div class="col-lg-6 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-database fa-fw"></i> Outros Dados
			</div>
			
			<div class="panel-body">
				<div class="list-group list-group-flush">
					<div class="list-group-item">
						<canvas id="pieReportPct" ng-init="pieReportPct()"></canvas>
					</div>
					
					<div class="list-group-item">
						<canvas id="doughnutReportIndices" ng-init="doughnutReportIndices()"></canvas>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-sliders fa-fw"></i> Medicoes da Classe
			</div>
			
			<div class="panel-body">
				<div class="col">
					<canvas id="barClassMeasurements" ng-init="barClassMeasurements()"></canvas>
				</div>
				
				<div class="col">
				
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="resources/lib/chartjs/Chart.bundle.min.js"></script>
<script type="text/javascript" src="resources/lib/chartjs/samples/utils.js"></script>