<!-- Navigation -->
<div class="container">
	<a class="navbar-brand js-scroll-trigger" ui-sref="main.home" href="#page-top">Oracle Test</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu <i class="fa fa-bars"></i>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav text-uppercase ml-auto">
			<li class="nav-item">
				<a class="nav-link" ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link" href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Simulacao</a>
			</li>
        		
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="DropdownMenuAplicacao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sitemap fa-fw"></i> Aplicacao</a>
				<div class="dropdown-menu" aria-labelledby="DropdownMenuAplicacao">
					<a class="dropdown-item" ui-sref="dashboard.register-application">Cadastrar Aplicacao</a>
			        <a class="dropdown-item" ui-sref="dashboard.list-application">Visualizar Aplicacao</a>
				</div>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="DropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user fa-fw"></i> {{ userInfo.name }}
				</a>
				<div class="dropdown-menu" aria-labelledby="DropdownMenuUser">
			        <a class="dropdown-item" href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
			        <a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
				</div>
			</li>
		</ul>
	</div>
</div>