<link rel="stylesheet" type="text/css" href="resources/lib/bootstrap/bootstrap.css">

<link rel="stylesheet" type="text/css" href="resources/css/app.css">
<link rel="stylesheet" type="text/css" href="resources/lib/sb-admin-2/sb-admin-2.css">
<link rel="stylesheet" type="text/css" href="resources/lib/metisMenu/metisMenu.min.css" >
<link rel="stylesheet" type="text/css" href="resources/lib/font-awesome/css/font-awesome.min.css" >

<div id="wrapper">
	<div ui-view="header-view"></div>
	
	<div id="page-wrapper">
		<div ui-view=""></div>
	</div>
</div>

<script type="text/javascript" src="resources/lib/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="resources/lib/metisMenu/metisMenu.min.js"></script>
<script type="text/javascript" src="resources/lib/sb-admin-2/sb-admin-2.js"></script>